.container {
    max-width: 800px;
}
.contact-info ul {
    padding-left: 1.2em;
}
.card-header h2 {
    font-size: 1.75rem;
}
.card-header {
    background-color: #FF0000; /* Màu đỏ */
    color: #FFFFFF; /* Màu trắng */
}
.btn-primary {
    background-color: #FF0000 !important; /* Màu đỏ */
    border-color: #FF0000 !important; /* Màu đỏ */
    color: #FFFFFF !important; /* Màu chữ trắng */
}